$distancia-teclas: 6px;

.teclado {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $distancia-teclas;
    max-width: 700px;
    width: 100vw;
    padding: 0 2vw;
    padding-bottom: 10px;

    .linha {
        display: flex;
        justify-content: center;
        gap: $distancia-teclas;
        width: 100%;

        .tecla {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: fit-content;
            width: 8vw;          
            height: 50px;
            padding: 1%;
            background-color: #818384;
            border: none;
            border-radius: 2px;
            color: var(--cor-da-fonte);
            font-family: var(--fonte-principal);
            font-weight: 700;
            font-size: 20px;
            cursor: pointer;
        }

        .ENTER, .DELETE {
            max-width: none;
            font-size: 12px;
            width: 12vw;
        }
    }

    #linha1 {
        max-width: 90%;
    }
}

@media screen and (min-width: 768px) {
    .teclado .linha .ENTER {
        font-size: 20px;
    }
}
