$tamanho-logo: 20px;
$amarelo: #F9FF00;

.cabecalho {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100vw;
    padding: 1vh 5%;
    border-bottom: 2px solid #585858;

    .logo {
        font-family: var(--fonte-principal);
        font-size: 24px;
        font-weight: 700;
        color: var(--cor-de-fundo);
        background-color: $amarelo;
        height: fit-content;
        padding: 0 3px;
    }

    .btn-tutorial {
        font-family: var(--fonte-principal);
        font-weight: 700;
        font-size: 28px;
        color: white;
        width: 40px;
        border-radius: 50%;
        background-color: transparent;
        border: 2px solid white;
        cursor: pointer;

        &:hover {
            border-color: $amarelo;
            color: $amarelo;
        }
    }
}


@media screen and (min-height: 600px) {
    .cabecalho .logo {
        font-size: 32px;
    }
}