@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

:root {
    --fonte-principal: 'Inter', sans-serif;

    --cor-de-fundo: #14161C;
    --cor-acerto: #538D4E;
    --cor-tem-na-palavra: #B59F3B;
    --cor-da-fonte: white;
}

html {
    font-size: 8px;
}

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    list-style-type: none;
	background-color: var(--cor-de-fundo);
}

.desabilitado {
    background-color: #585858 !important;
}

.tem-na-palavra {
    background-color: var(--cor-tem-na-palavra) !important;
}

.acertou {
    background-color: var(--cor-acerto) !important;
}


@media screen and (min-height: 600px) {
    html {
        font-size: 16px;
    }
}
