@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

:root {
    --fonte-principal: 'Inter', sans-serif;
}

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    list-style-type: none;
	background-color: #14161C;
}

.desabilitado {
    background-color: #585858 !important;
}

.tem-na-palavra {
    background-color: #B59F3B !important;
}

.acertou {
    background-color: #538D4E !important;
}
